// colores
$color-1: pink;
$color-2: black;
$color-3: rgb(227, 69, 198);

// fonts
$fuente-1: font-family, 'Merriweather', serif;
$fuente-2: font-family, 'Ubuntu', sans-serif;
$fuente-3: font-family, 'Roboto Mono', monospace;