@import "_variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fuente-3;
}
.titulo{
    font-family: $fuente-1;
    font-size: 200%;
}

h2{
    font-family: $fuente-2;
}

body{
    background-color: $color-1;

    nav{
        border: 4px solid $color-3;
        box-shadow:inset 0 0 5px $color-2;
        
        li{
            font-size: 20px;
        }

        li a:hover{
            color:$color-3 !important;
        }
        h1{
            font-size: 25px;
        }
    }
    h2{
        margin-top: 5%;
        margin-bottom: 5%;
        background-color: white;
        border: 3px dashed $color-2;
    }

    .carrusel1{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .hilos1{
            height: 300px;
            width: 20%;
            margin: 10px;
            border: dashed $color-3;
        }

        .hilos2{
            height: 300px;
            width: 20%;
            margin: 10px;
            border: dashed $color-3;
        }
        .hilos3{
            height: 300px;
            width: 20%;
            margin: 10px;
            border: dashed $color-3;
        }
        .hilos4{
            height: 300px;
            width: 20%;
            margin: 10px;
            border: dashed $color-3;
        }
    }

    .carrusel2{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .botones1{
            height: 300px;
            width: 20%;
            margin: 10px;
            border: dashed $color-3;
        }

        .botones2{
            height: 300px;
            width: 20%;
            margin: 10px;
            border: dashed $color-3;
        }
        .botones3{
            height: 300px;
            width: 20%;
            margin: 10px;
            border: dashed $color-3;
        }
        .botones4{
            height: 300px;
            width: 20%;
            margin: 10px;
            border: dashed $color-3;
        }
    }

    .carrusel3{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 5%;

        .blondas1{
            height: 300px;
            width: 20%;
            margin: 10px;
            border: dashed $color-3;
        }

        .blondas2{
            height: 300px;
            width: 20%;
            margin: 10px;
            border: dashed $color-3;
        }
        .blondas3{
            height: 300px;
            width: 20%;
            margin: 10px;
            border: dashed $color-3;
        }
        .blondas4{
            height: 300px;
            width: 20%;
            margin: 10px;
            border: dashed $color-3;
        }
    }



    footer {
        display: flex;
        flex-direction: row;
        background-color: $color-2;
        border: 4px dashed $color-1;
        border-bottom: none;


        .location {
            display: flex;
            flex-direction: column;
            color: $color-1;
            margin-top: 1%;
            margin-left: 2%;
            margin-bottom: 1%;

            .map {
                height: 200px;
                width: 150%;
            }

            .fa-solid {
                margin-left: 80%;
                margin-bottom: 10px;
                font-size: 30px;

            }
        }

        .horarios {
            display: flex;
            flex-direction: column;
            color: $color-1;
            margin-top: 5%;
            margin-left: 5%;
            margin-right: 5%;


            .fa-regular {
                margin-left: 50%;
                margin-bottom: 10px;
                font-size: 30px;

            }

            .horarios-p {
                font-size: 15px;
                margin-left: 100px;
            }
        }

        .redes {
            color: $color-1;
            margin-top: 10%;
            margin-right: 5%;

            .fa-brands {
                font-size: 30px;
                letter-spacing: 8px;
                color: $color-1;
                background-color: $color-2;
                background-size: cover;
            }

            .redes-p {
                font-size: 15px;
            }

            .fa-brands:hover {
                background-color: $color-1;
                color: $color-2;
            }
        }
    }


    @media only screen and (max-width:768px) {
        .carrusel1 {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            justify-content: space-between;
            

            .hilos1{
                width: 80%;
            }
            .hilos2{
                width: 80%;
            }
            .hilos3{
                width: 80%;
            }
            .hilos4{
                width: 80%;
            }
        }
    }

    @media only screen and (max-width:768px) {
        .carrusel2 {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .botones1{
                width: 80%;
            }
            .botones2{
                width: 80%;
            }
            .botones3{
                width: 80%;
            }
            .botones4{
                width: 80%;
            }
        }
    }
    @media only screen and (max-width:768px) {
        .carrusel3 {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .blondas1{
                width: 80%;
            }
            .blondas2{
                width: 80%;
            }
            .blondas3{
                width: 80%;
            }
            .blondas4{
                width: 80%;
            }
        }
    }
    
    @media only screen and (max-width:650px) {
        footer{
            display: grid;
            grid-template-columns: 1fr;
        }
    }

    @media only screen and (max-width:650px) {
        .location{
            width: 50%;
        }
    }
}